<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Never Give Up!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">

</head>

<body>
    <header class="mosttop">
       
        <a href=""><img id="tg" src="images/telegram.png" alt=""></a>
        <a href=""><img src="images/whatsapp.png" alt=""></a>
        <a href=""><img src="images/twitter.png" alt=""></a>
        <a href=""><img src="images/instagram.png" alt=""></a>
        <a href="https://www.facebook.com/emrealtn268"><img src="images/facebook.png" alt=""></a>

    </header>
    <header class="bg-orange">
        <nav id="navbar">
            <img src="images/navbar-img.png" alt="No Pain No Gain">

            <ul>
                <li><a href="/"><strong>Ana Sayfa</strong></a></li>
                <li class="dropdown" id="pro-menu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <strong>Size Özel</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="training"> <strong>Antrenmanlar</strong></a>
                      <a class="dropdown-item" href="nutrition"><strong>Beslenme</strong></a>
                      <a class="dropdown-item" href="suplement"><strong>Suplement</strong></a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="per-info"><strong>Hesaplayıcı</strong></a>
                </li>
                <li><% if(!user) { %>  <a href="log-reg" ><strong>Giriş Yap <div>veya Üye Ol</div></strong></a>
                    <% } else { %> 
                        <a href="logout"><strong>Çıkış Yap</strong></a>
                        <% } %> 
                </li>
           <li><a href="contact"><strong>İletişim</strong></a></li>  
        </ul>
        </nav>
    </header>

    <div class="home">
        <h1>Neden Spor Yapmalıyız ?</h1>

        <img src="images/fitness1.png" alt="fitness1">
        <p>Sağlığı korumak için hareket etmeye spor adı verilir. Sporun birçok amacı vardır. Rekabet gücünü artırmak,
            boş zamanları geçirmek, günlük aktiviteleri desteklemek, vücuttaki kas deformasyonları ve kas gücü
            kayıplarını önlemek, felç ve bazı eksiklikleri olan insanların, nörolojik hastaların rehabilitasyonu,
            eksikliklerini kompanse etmek ve önemlisi sağlık için spor yapılır. Spor sayesinde kaslarımız, dolayısıyla
            vücudumuz güçlenir, hastalıklara karşı direncimiz artar.</p>
        <img src="images/fitness2.png" alt="fitness1">
        <p>İnsanlar çocukluk çağlarında çok hareketlidir. Bu sebeple kilo başına enerji ihtiyacı erişkinlerin iki katı
            kadardır. Gençlik çağlarında insanlar çok güçlüdür. 30-35 yaşından sonra kas ve kemik kitlesinde tedrici bir
            azalma başlar. Bu yaşlardan itibaren her on yılda kas ve kemik kitlesinin % 5 kadarı kaybedilir.</p>
        <img src="images/fitness3.png" alt="fitness1">
        <p>Ancak bunu önemli ölçüde engellemek hatta kayıpları kısmen geriye çevirmek de mümkündür. Bunun için düzenli
            egzersiz programlarına iştirak etmek gerekir. İleri yaşlardaki insanlarda bile egzersizle kas kitlesi
            artırılabilir.</p>
        <img src="images/fitness4.png" alt="fitness1">
        <p>Spor yapılırken kaslar çalışır. Kasların çalışması esnekliklerinin ve güçlerinin artması demektir. Egzersiz
            kas lifi sayısını artırmaz, ancak liflerin kalınlaşmasını kütlesinin artmasını sağlar. Kasların enerji
            ürettim santralleri olan mitokondri sayısı ve kalitesini artırır. Özellikle yük bindiren egzersizler kas
            kitlesini ve dayanıklılığını artırır.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>