.container {
    max-width: 500px;
    width: 100%;
    margin: 5rem auto;
    position: relative;
}
#contact textarea,
#contact button[type="submit"] {
    font-family: "Open Sans", sans-serif;
}
 
#contact {
    background: #f2f2f2;
    padding: 25px;
    margin: 4rem 0;
    border-radius: 5px;
}
 
#contact h2 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #f4511e;
}
 
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 420px;
    align-items: center;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 1rem;
}
 
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {

    border: 1px solid #aaa;
}
 
#contact textarea {
    height: 120px;
    max-width: 100%;
    resize: none;
}
 
#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: #363636;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
#contact button:hover{
    background-color: #f4511e;
}
#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}